#timer {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #be5121;
  text-shadow: 0px 2.5px #8b2820;
}

#leftSecond {
  position: fixed;
  top: 68px;
  left: 108px;
}

#leftMinute {
  position: fixed;
  top: 68px;
  left: 23px;
}